:root {
  --marginTop-viewLead-outerBgBox : 11px;
  --backgroundColor-outerBgBox : rgb(227,227,227);
  /* --fontSize-ViewLeadFormLable : 14px; */
  /* --height-formControl : 28px;
  --fontSize-formControl : 14px;
  --padding-formControl : 0px 32px 0px 8px;
  --lineHeight-formControl : 28px;
  --appearance-formControl : none;
  --backgroundColor-formControl : white ; 
  --border-formControl : 1px solid #ced4da; */
  --borderRadius : 4px;
  --fontSize-viewLead-ViewLeadsTableFont : 14px; 
  --textAlign-viewLead-ViewLeadsTableFont : center;
  --fontWeight-viewLead-tableHeader : 100 ;
  --fontWeight-viewLead-viewLeadButton : 600;
  --borderRadius-viewLead-viewLeadButton : 0;
  /* --backgroundColor-viewLead-viewLeadButton : #758694; */
  --color-viewLead-viewLeadButton : white;
  --fontSize-viewLead-viewLeadButton : 10px;
  --border-viewLead-viewLeadButton : 1px solid grey;

}

.table th, .table td {
  padding: 4px !important;
}

.blue-striped tbody tr:nth-of-type(odd) {
  background-color: #ecf3e8 !important; /* Light blue stripe */
  /* background-color: rgb(232, 241, 243); */
}

.Box-View-Leads{
  background-color: red;
}
.viewLead-outerBgBox{
  margin-top: var(--marginTop-viewLead-outerBgBox);
  /* background-color: var(--backgroundColor-viewLead-outerBgBox); */
}

/* .ViewLeadFormLable{ */
  /* font-size: var(--fontSize-ViewLeadFormLable); */
/* } */

/* .formControl{ */
   /* height: var(--height-formControl);
   font-size: var(--fontSize-formControl);
   padding: var(--padding-formControl);
   line-height: var(--lineHeight-formControl);
   appearance: var(--appearance-formControl);
   background-color: var(--backgroundColor-formControl);
   border: var(--border-formControl);
   border-radius: var(--borderRadius); */
/* } */

.viewLead-ViewLeadsTableFont{
   font-size: var(--fontSize-viewLead-ViewLeadsTableFont);
   text-align: var(--textAlign-viewLead-ViewLeadsTableFont);
}

.viewLead-tableHeader{
   font-weight: var(--fontWeight-viewLead-tableHeader);
}

.viewLead-viewLeadButton{
   font-weight: var(--fontWeight-viewLead-viewLeadButton);
   border-radius: var(--borderRadius-viewLead-viewLeadButton);
   background-color: var(--backgroundColor-viewLead-viewLeadButton);
   color: var(--color-viewLead-viewLeadButton);
   font-size: var(--fontSize-viewLead-viewLeadButton);
   border: var(--border-viewLead-viewLeadButton);
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.034);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}