:root{
    --width-innerBox : 100%;
    --background-color-innerBox: rgb(227,227,227);
    --border-innerBox : 2px solid grey;
   }
   
   .innerBox{
     width:var(--width-innerBox);
     background-color:var(--background-color-innerBox);
     border: var(--border-innerBox);
   }