/* :root{
    --fontWeight-lables : 600;
    --background-color-addleadSections : rgb(212, 39, 39);
}

.form-label{
    font-weight: var(--fontWeight-lables);
}

.addleadSections{
    background-color : var(--background-color-addleadSections)
} */

.input-box {
    height: 30px;
    border-radius: 0;
    border-width: 1px;
    border-color: #2c3e50;
    border-style: solid;
    font-size: 12px;
}

.pagination-button {
    border-color: #2c3e50;
}
