/* :root{
    --fontWeight-lables : 600;
    --background-color-addleadSections : rgb(224, 43, 43);
}

.form-label{
    font-weight: var(--fontWeight-lables);
}

.addleadSections{
    background-color : var(--background-color-addleadSections)
} */